[gui]
	recentrepo = C:/Users/HP/Documents/Coding
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Akere-Abdulraheem
	email = akereodunayo@gmail.com
